.p-comment__wrapper {
    margin-top: 50px;
    @include mq($breakpoint: md){
        margin-top: 30px;
    }
}

.p-comment__item {
    width: 100%;
    margin-bottom: 30px;
    &.replay {
        width: calc(100% - 50px);
        margin-left: 50px;
    }
    @include mq($breakpoint: md){
        margin-bottom: 20px;
        font-size: 12px;
    }
    .p-comment__wrapper-right {
        line-height: 50px;
        @include mq($breakpoint: md){
            font-size: 12px;
            line-height: 30px;
        }
    }
}
